{% extends "base1.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class"perfect-scrollbar-on">
  <head>
    <title>FLOORER• learn Science through e-xploration</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    />
    <!-- CSS Files -->
    <link rel="stylesheet" href="./../static/css/style.css
    " />
  </head>
  <body class="index-page">
    <section class="section section-lg section-coins">
    <div class="page-header">
    <div class="container">
        <div class="content-center">
          <img src="./../static/images/background/path6.png" class="path" alt="blob">
          <div class="row row-grid justify-content-between align-items-center text-left">
            <img src="./../static/images/header.png" class="path0 animate__animated animate__swing" alt="logo-header">
            <div class="col-lg-6 col-md-6">
              <div class="container-fluid" id="text-header">
                <p class="text-white mb-3">We provide free and fun online science Exploration for children!</p>
                <p class="text-white mb-3">children can learn anywhere at anytime</p>
                <div class="btn-wrapper mb-3">
                  <p class="category text-white d-inline">if you are a teacher, sign up here</p>
                  <a href="/registration"><i class="far fa-hand-point-right"></i></a>
                </div>
              </div>
            </div>

<!-- images right -->
            <div class="col-lg-6 col-md-6">
              <img src="./../static/images/bg header2.png" alt="logo" class="path-image2" id="image-2" >
              <!--<img src="./../static/images/img (2).png" alt="logo" class="path-image2" id="image-2" >-->
              <img src="./../static/images/img (2).png" alt="kid-1" class="path-image1 animate__animated animate__fadeInRightBig" id="kid1">
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--<hr class="line-success"></hr>-->
</section>


      <section class="section section-lg section-coins">
        <div class="container" id="section-1">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">

              <h1 class="animate__animated animate__bounce text-center display-3" id="we-offers">We Offer : </h1>
              <div class="row row-grid justify-content-center">
                <div class="col-lg-3">
                  <div class="info">
                    <div class="icon icon-primary">
                      <i class="tim-icons icon-money-coins"></i>
                    </div>
                    <h2 class="animate__animated animate__bounce display-6 info-title text-dark">JOY & FUN LEARNING</h2>
                    <hr class="line-primary">
                    <p class="text-dark">Build interest in learning Science. This platform engages children in learning and identify the various kind of plants
                    and its characteristics while encouraging creativity skills.</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="info">
                    <div class="icon icon-warning">
                      <i class="tim-icons icon-chart-pie-36"></i>
                    </div>
                    <h2 class="animate__animated animate__bounce display-6 info-title text-dark">LEARNING METHODS</h2>
                    <hr class="line-warning">
                    <p class="text-dark">New learning method has been implemented following current trends and technology. This platform provides interactive activities,
                    animated videos, games and creative lessons to captivate children's attention</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="info">
                    <div class="icon icon-success">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                    <h2 class="animate__animated animate__bounce display-6 info-title text-dark">100% </br> FREE !</h2>
                    <hr class="line-success">
                    <p class="text-dark">No need to register! you can access for free anytime and anywhere!.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg section-coins">
        <img src="./../static/images/background/blob.png" class="path2" alt="blob">
        <div class="container">
          <div class="row" id="row-card">
            <div class="col-md-4">
              <h1 class="text-info display-4">
              </h1>
            </div>
          </div>
          <div class="row mb-2 align-items-center" id="row-card-1">
            <div class="col-lg-3 col-md-6">
              <div class="card card-coin card-plain" id="card-1">
                <div class="card-header">
                  <img src="./../static/images/img (26).png" class="img-center img-fluid" alt="detection-classification-camera-webcam">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3 class="text-uppercase">CAMERA</h3>
                      <span>CLASSIFY PLANT'S NAME AROUND US</span>
                      <hr class="line-primary">
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Detect</li>
                      <li class="list-group-item">Identify</li>
                    </ul>
                  </div>
                  <div class="card-footer text-center" id="button-card">
                    <a href="/camera1"><button type="button" class="button animate__animated animate__rubberBand">let's explore!</button></a>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-coin card-plain" id="card-2">
                <div class="card-header">
                  <img src="./../static/images/img (22).png" class="img-center img-fluid" alt="detail-of-plant">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3 class="text-uppercase">KNOW ME!</h3>
                      <span>READ AND LEARN ABOUT THE PLANTS</span>
                      <hr class="line-success">
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Fun Facts</li>
                      <li class="list-group-item">Characterisitics</li>
                    </ul>
                  </div>
                  <div class="card-footer text-center" id="button-card-2">
                      <a href="/know_me"><button type="button" class="button animate__animated animate__rubberBand">know me!</button></a>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-coin card-plain" id="card-3">
                <div class="card-header">
                  <img src="./../static/images/img (28).png" class="img-center img-fluid" alt="identify-parts-of-plant">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3 class="text-uppercase">PLANT BODY</h3>
                      <span>IDENTIFY PARTS OF THE PLANTS</span>
                      <hr class="line-info">
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Learn</li>
                      <li class="list-group-item">Spell</li>
                    </ul>
                  </div>
                  <div class="card-footer text-center" id="button-card-3">
                    <a href="/plant_body"><button type="button" class="button animate__animated animate__rubberBand">plant body</button></a>
                    <!--<button class="btn btn-info btn-simple">PLANT BODY</button>-->
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-coin card-plain" id="card-4">
                <div class="card-header">
                  <img src="./../static/images/img (23).png" class="img-center img-fluid" alt="videos-task-game">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3 class="text-uppercase">GAME</h3>
                      <span>SOME EXERCISE FOR BRAIN</span>
                      <hr class="line-info">
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Interactive</li>
                      <li class="list-group-item">Fun</li>
                    </ul>
                  </div>
                  <div class="card-footer text-center" id="button-card-4">
                    <a href="/game"><button type="button" class="button animate__animated animate__rubberBand">let's play</button></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>




  </body>
</html>
{%endblock%}
