{% extends "base1.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>FLOORER• learn Science through e-xploration</title>

  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="./../static/css/task.css" />
</head>

<!-- body content -->
<div class="content-center">
  <h1 class="text-center">LET'S SING A SONG</h1>
  <div class="content-header-vid">


  </div>

    <img src="./../static/images/background/path1.png" class="path3" alt="blob" id="path3">

  <div class="row row-grid justify-content-center align-items-center text-center">

  <div class="col-md-6">
    <div class="video-example">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="50%" height="auto" src="https://www.youtube.com/embed/cRhGOdqWIIo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
</div>
  </div>

</div>





{% endblock %}
